<h1>Albums</h1>
<br>

<div class="row">
  <% @albums.each do |album| %>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header text-center"><%= album.name %></h5>
      <%#= image_tag("folder.jpg", class: 'card-img-top')  %>


        <%= link_to image_tag("folder.png", class: 'card-img-overlay position-relative card-img-top z-99'), new_album_photo_path(album) %>

        <%#= link_to 'Click to add photos', album_photos_path(album), class: 'add_photos card-text mt-3 font-weight-bold text-info font-italic z-99'%>

      <div class="text-center card-body pb-0">
        <!-- Button trigger modal -->
        <!-- <button type="button" class="add_photos card-text mt-3 font-weight-bold text-info font-italic" data-toggle="modal" data-target="#modal-window">
          <u>Click to add photos</u>
        </button> -->
        <p class="card-text">Total no of photos - <%= album.photos.count %></p>

      

      </div>
      <div class="card-footer text-center card-body px-0">
        <%= link_to 'Show Album', album_photos_path(album), class: 'card-link btn-sm btn-primary text-white' %>
        <%= link_to 'Edit', edit_album_path(album), class: 'card-link btn-sm btn-secondary text-white' %>
        <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link btn-sm btn-danger text-white' %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Album', new_album_path, class:'btn btn-secondary text-white my-3' %>


<!-- Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Photos to your album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="border p-4">
         <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
        <div class="mt-3 form-group">
          <!-- <label for="exampleFormControlFile1">Capton:</label> -->
          <input class="form-control" type="text" placeholder="Enter caption for ypur photo">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>

<style type="text/css">

</style>