<h2>Log in</h2>
<div class="card w-75 m-auto p-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, required:'', autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, required:'', autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
