
<h1>Photos</h1>
<div class="row m-auto">
    <% @album.photos.each do |photo| %>
      <div class="col-md-4">
        <div class="d-flex flex-column border m-2">
          <div class="img-w">
            <%= image_tag(photo.image.url, alt: photo.caption) %>
            <p class="caption text-center">Tag Line:<span> <%= photo.caption %></span></p>
          </div>
          <% if current_user.id == @album.user_id %>
            <div class="d-flex justify-content-around mb-3">
              <%= link_to 'Edit', edit_album_photo_path(@album, photo), class: 'btn btn-sm btn-secondary text-white' %> 
              <%= link_to 'Destroy', delete_album_photo_path(@album, photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-white' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @album.photos.count == 0 %>
      <h2 class="m-auto text-center">No Photo yet!</h2>
    <% end %>
</div>
<% if current_user.id == @album.user_id %>
  <%= link_to 'Upload New Photo', new_album_photo_path, class: 'btn btn-primary text-white' %>
<% end %>